* {box-sizing: border-box;}

html, body, a, div  {margin: 0; padding: 0;}

h1 {margin:15px; color: white;}

body {font-family: "Calibri";}

a {text-decoration: none;}

.clear {
  clear: left;
}

header {height: 65px; width: 100%; background-color: purple;
		position: fixed; top: 0; z-index: 10;}

.header-left {
  float: left;
}

.header-right { margin-right : 20px;  
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.top-wrapper {
  padding: 80px 0 85px 0;
  background-image: url(https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_960_720.jpg);
  background-size: cover;
  color: black;
  text-align: left;
}

.container {
  width: 80%;
  margin: 0 10%;
}

.top-wrapper h2 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  margin-top:10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}
.logo {
  width: 400px; float :right ; margin: 25px 100px;
}
/* Untuk Tablet*/
@media all and (max-width: 1000px) {
  .top-wrapper h1 {font-size: 32px;}
  .logo {
    width: 400px;
    float: none;
    margin: 25px auto;
    display: block;
	  max-width:100%;
}
.top-wrapper h2 {
    opacity: 0.7;
    font-size: 40px;
    letter-spacing: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
    text-align: center;
}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) 
 {.header-right {display: none;}
  .top-wrapper {text-align: left;}            
  .top-wrapper h1 {font-size: 24px; line-height: 36px;}
  .top-wrapper p {font-size: 14px; line-height: 20px;}
	 .logo {
    margin: 25px auto 15px;
    display: block;
		 max-width:100%;}
 }
